## Web scraping

Scrape bank's contact informations and write them to a txt file

In [2]:
import requests
import bs4
import webbrowser
import string
from pathlib import Path

Check whether the website supports web scraping

In [3]:
webbrowser.open('http://bankinfouk.com/robots.txt')

True

#### Get data

In [4]:
#get data
page_num = 1
url = "http://bankinfouk.com/banks/contacts/page:1"

while page_num <= 5:
    url = url[:len(url)-1]+str(page_num) #modify existing url to move to the next page on website
    response = requests.get(url)
    #print(response.status_code)
    
    soup_obj= bs4.BeautifulSoup(response.content, "html.parser")
    
    #scrape multiple classes and write data into Banks_data.txt's file
    for chunk in soup_obj.find_all('div', {'class' : ['result-title', 'description']}):
        with open(str(Path.cwd())+'/'+'banks_data.txt', 'a') as file:
            #print(chunk.text.strip(string.whitespace)) 
            file.write(chunk.text)
    page_num += 1

## Simple financial data

In [5]:
webbrowser.open('https://www.msn.com/robots.txt')

True

In [7]:
url_2 = "https://www.msn.com/en-gb/money/markets"


response_2 = requests.get(url_2)
soup = bs4.BeautifulSoup(response_2.content, 'html.parser')
data = soup.find_all("div", class_ = "secondaryIndexTile")



dic_data = dict()
for element in data:
    title = element.find("div", class_ ="title")
    price = element.find("div", class_ = "price")
    variation = element.find("div" , class_ = "chp")
    dic_data[title.text] = [price.text, variation.text]

#view the data in table format 
data = dic_data.copy()
import pandas as pd
data = pd.DataFrame(data, index = ['Price', 'Variation'])
data.head()

,DOW,S&P 500,NASDAQ,IBOVESPA,EURO STOXX 50,DAX,CAC 40,IBEX 35,Nikkei 225,Shanghai Composite,Hang Seng
Price,"34,451.23","4,392.59","13,351.08","116,181.61","3,848.68","14,163.85","6,589.35","8,699.00","27,093.19","3,211.24","21,518.08"
Variation,-0.33%,-1.21%,-2.14%,-0.51%,+0.54%,+0.62%,+0.72%,+0.94%,-0.29%,-0.45%,+0.67%